
nav ul li 
{
    display: inline;
    list-style: none;
    padding-right: 30px;
}
nav
{
    
    padding: 30px;
    background-color: fuchsia;
}

#pqr
{
    
    background-color: fuchsia;
}

@media only screen and (max-width: 600px) {

    div .abc{
      display: block;
      width: 35px;
      height: 5px;
      background-color: white;
      margin: 6px 0;
    }
    ul {
        display:none;
      }
}